[Unit]
Description=AppArmor Policy Loader
DefaultDependencies=no
Before=basic.target systemd-udevd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/aa-profiles-load
ExecStop=/usr/bin/aa-profiles-unload
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
